@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap');

/* _______________________ BODY _______________________ */

body {
  font-family: Phudu;
  background-image: url('/assets/images/bridge1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 50px;
}