@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap');

/* _______________________ BODY _______________________ */

body {
  font-family: Phudu;
  background-image: url('/assets/images/bridge1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 50px;
}

/* _______________________ REGULAR HTML ELEMENTS _______________________ */

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

em {
  color: gold;
}

p {
  margin: 0;
}

/* _______________________ HEADER _______________________ */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* _______________________ HOME COLUMNS _______________________ */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.column {
  margin: auto;
}

@media screen and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}