@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap');

/* _______________________ BODY _______________________ */

body {
  font-family: Phudu;
  background-image: url('/assets/images/bridge1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 50px;
}

/* _______________________ REGULAR HTML ELEMENTS _______________________ */

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

em {
  color: gold;
}

p {
  margin: 0;
}

/* _______________________ HEADER _______________________ */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* _______________________ MENU _______________________ */

.menus li {
  text-align: center;
  margin-right: 20px;
  border: 2px solid black;
  padding: 10px;
  box-shadow: -5px 5px 10px rgb(255, 255, 255), 5px 5px 10px rgb(255, 255, 255);
}

.menu:hover {
  background-color: red;
}

.menus {
  display: flex;
  list-style: none;
}

/* _______________________ HOME COLUMNS _______________________ */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin: auto;
}

@media screen and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .column {
    text-align: center;
    width: 60%;
    background-color: rgb(160, 101, 255, 0.7);
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
    margin:  10px auto;
  }
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    text-align: center;
    width: 100%;
    background-color: rgb(160, 101, 255, 0.7);
    overflow-wrap: break-word;
    box-sizing:  border-box;
    padding: 10px;
    margin: 10px;
  }
}

/* _______________________ LINKS _______________________ */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}